.botao{
    text-align: center;
    width: max-content;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--borderRadios2);
    background-color: var(--cor4);background: linear-gradient(to right, #00c8ff, var(--cor3));
    transition:transform 0.2s ease-in-out;
    cursor: pointer;
}
.botao:hover{
    transform: scale(1.1);
}