.botao{
    text-align: center;
    width: max-content;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--borderRadios2);
    background: linear-gradient(to right, #3ecff7e3, #46a4f1,#395eae);
    transition:transform 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 1.5px 1.5px 4px #00000099;
}
.botao:hover{
    transform: scale(1.1);
}
