:root{
    --cor1: #000;
    --cor2: #fff;
    --cor3: #0079eb; 
    --cor4: #0781ea;
    --cor5: #ae7b36;
    --cor6: #ffa532;
    --cor7: #f3f4f6;
    --font1: "Poppins", sans-serif;
    --font2: "Roboto", sans-serif;
    --font3: "Vollkorn SC", serif;
    --font4: "Mea Culpa", cursive;
    --font5: "Open Sans", sans-serif;
    --borderRadios: 8px;
    --borderRadios2: 15px;

}