.conteiner-footer{
    max-width: 1000px;
    border-radius: var(--borderRadios);
    margin: 0 auto;
    background: linear-gradient(to right, #3ecff7e3, #46a4f1,#395eae);
    
    
}
.conteudo-footer{
    
   display: grid;
   grid-template-columns: auto auto;
   font-family: var(--font1);
   grid-template-rows: auto 1fr 1fr;
   
}
.logo-footer{
    grid-column: 1/-1;
    
}
.conteiner-footer h3 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.serve-footer{
    width: max-content;
    padding-left: 20px;
    
}
.social-media img{
    margin: 0 auto;
    height: 26px;
    width: 26px;
    margin-bottom: 10px;
}
.social-media {
    width: max-content;
    margin-right: 20px;
    grid-column: 2;
}
.contado{
    grid-row: 3;
    padding: 20px;
}
.conteudo-footer ul li{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.conteudo-footer ul li:hover{
    color: #fff;
}
.conteudo-footer ul li::before{
    content: " " ;
    position: absolute;
    background-image: url(../../assets/imgs/icones/world_5514637.png);
    height: 16px;
    width: 16px;
    left: -1px;
    top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (min-width:1000px) {
    .conteiner-footer{
        background-image: url(../../assets/imgs/container-img/133750831_10279098.jpg);
        background-position: right bottom;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}