.background-main{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/imgs/fundo/fundo.jpg');
    background-position: left ;
}
.main-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: end;
    height: 100%;
}
main{
    height: calc(100% - 80px);
    
    
}
.conteudo-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-main h2{
    font-weight: 700;
    padding: 15px;
    text-shadow: 2px 2px 1px #000000af;
    
    
    
}
.conteudo-main p {
    text-align: center;
    padding: 0 15px 15px 15px;
}