.background-main{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/imgs/fundo/fundo.jpg');
    background-position: left ;
}
.slide-list{
    display: flex; 
    height: 100%;
    align-items: end;
    cursor: pointer;  
}


.slide-item{
    flex-shrink: 0;
    width: 100vw;
    padding: 0 10px;  
}
.slide-img{
    max-height: 400px;
}
.wapper{
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}
.slide-wrapper{
    height: 100%;
    overflow: hidden;
}
.slide-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.conteiner-img img{
    margin: 0 auto;
}
.img2-slide,
.img3-slide{
    position: relative;
    left: -22px;
}