.conteiner-produtos{
    background-color: var(--cor7);
    padding-top: 20px;
}

.conteiner-produtos h2{
    
    width: 80%;
    margin: 0 auto;
}
.conteiner-produtos p {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}
.content-produtos{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(238, 238, 237, 0.851);
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
}
.itens-product{
    overflow: hidden;
}
.itens-product ul li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
    padding-bottom: 10px;
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #0000008a;
    align-items: center;
    margin-bottom: 20px;
}
.content-produtos h3{
    color: var(--cor4);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: var(--font1);
}
.itens-product ul{
    display: flex;
    gap: 15px;
}
.itens-product ul li a{
    padding: 6px;
    display: block;
    background: transparent;
    color: #000;
    box-shadow: none;
    margin:  auto;
    font-size: 0.8rem;
    line-height: 1.300;
    font-family: var(--font1);
    font-weight: 300;
    text-align: center;
    position: relative;
    
}
.itens-product ul li a::after{
    content: "";
    position: absolute;
    inset: 0;
    padding: 2.3px; /* Espessura da borda */
    background: linear-gradient(to right, #3ecff7e3, #46a4f1,#395eae);
    border-radius: 20px; /* Mesmo raio da borda */
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.itens-product ul li a:hover{
    background: linear-gradient(to right, #3ecff7e3, #46a4f1,#395eae);
    color: #fff;
}
.itens-product h4{
    font-family: var(--font2);
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    height: 25px;
}
.preço-defalut{
    font-size: 0.9rem;
    color: var(--cor4);
    text-decoration: line-through;
    text-decoration-color: #2b2b2ba7;
    
}
.preço-desconto{
    font-size: 1.1rem;
    color: var(--cor6);
}  
.itens-product img {
    border-radius: 20px;
}

@media screen and (min-width: 1000px) {
    article{
        overflow-x: hidden;
    }
    
    .conteiner-produtos{
        position: relative;
        background-color: #e3e1e1b1;
    }
    .content-produtos{
        background-color: #f9f8f8cf;
        
    }
   
    
    .conteiner-produtos::before{
        content: "";
        position: absolute;
        background-image: url(../../assets/imgs/detalhes/vecteezy_a-fluffy-cat-with-blue-eyes-sitting-down-on-transparent_46812042.png);
        background-size: contain;
        height: 400px;
        width: 400px;
        background-repeat: no-repeat;
        top: 600px;
        left: -220px;
        z-index: 2;
        transform: rotate(50deg);
        
    }
    .conteiner-produtos::after{
        content: "";
        position: absolute;
        background-image: url(../../assets/imgs/detalhes/rigth-dog.png);
        background-size: 100%;
        height: 350px;
        width:350px;
        background-repeat: no-repeat;
        top: 250px;
        right: -180px;
        transform: rotate(-30deg);
    }
}
