
.conteiner-profissional{
    max-width: 1000px;
    margin: 0 auto;
}
.img-profissional{
    height: 350px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to right, #ffd900bb,var(--cor6) );
    box-shadow: 6px 6px 20px #000;
}
.img-profissional img {
    height: 100%;
    width: 100%;
}
.content-profissional h2 {
    padding-top: 60px;
    width: 80%;
    font-weight: 600;
    color: #000;
    margin: 0 auto;   
}
.content-profissional p {
    padding-top: 20px;
    width: 80%;
    color: #3c3c3c;
    margin: 0 auto;  
}
.content-profissional a {
    margin: 20px auto;
    display: block;
    margin-top: 20px;
    background: linear-gradient(to right, #ffd900bb,var(--cor6) );
    color: #000;
    font-family: var(--font1);
    font-weight: 500;
}
.opacity-img {
    opacity: 0;
    
    transition: opacity 1s ease;
}

.img-ativa {
    opacity: 1;
    transform: translateY(0);
}
@media screen and (min-width: 800px) {
    .conteiner-profissional{
        display: flex;
        padding: 20px;
        position: relative;
    }
    .content-profissional h2,
    .content-profissional p{
        text-align: start;
    }
    .content-profissional h2{
        font-size: 2rem;

    }
    .content-profissional a{
        margin-left: 59px;
    }
    .conteiner-profissional::after{
        content: "";
        background-image: url(../../assets/imgs/detalhes/patas.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: 60px;
        right: -230px;
        height: 300px;
        width: 300px;
        
    }
    .conteiner-profissional::before{
        content: "";
        background-image: url(../../assets/imgs/detalhes/patas.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: 20px;
        left: -230px;
        height: 300px;
        width: 300px;
        
    }
    
}
